{% extends 'base.html' %}

{% block content %}

    <table class="table table-bordered table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>

        {% for item in cart %}

            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price }}</td>
                <td><a href="{% url 'orders:cart_remove' item.name.id %}" class="btn btn-danger">Remove</a></td>
            </tr>

        {% endfor %}

        <!-- total price -->
        <td>Total</td>
        <td>{{ cart.get_total_price }}</td>
        <td colspan="4"></td>

        </tbody>
    </table>

    <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Checkout</a>

{% endblock %}