<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'home:home' %}">Home</a>
            {% if request.user.is_authenticated %}
                <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
                <a class="nav-link active" href="{% url 'accounts:user_register' %}">Register</a>
                <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
            {% if request.user.is_superuser %}
                <a class="nav-link active" href="{% url 'home:bucket' %}">My Bucket</a>

            {% endif %}
        </div>

        <!-- admin welcome -->
        {% if request.user.is_admin %}

            <div class="ms-auto mb-2 mb-lg-0">
                <a href="{% url 'admin:index' %}">
                    <span class="navbar-text ">
                        Admin Panel
                    </span>
                </a>

            </div>

        {% endif %}

        <!-- shop cart -->


        <a class="nav-link text-white" href="{% url 'orders:cart' %}">
            <i class="fa badge fa-lg" value={{ item_counter|length }}>&#xf07a;</i>
        </a>


    </div>
</nav>